{% extends "Base.html" %} {% block content %}
<div class="panel panel-success">
  <div class="panel-heading">My Buying History</div>
  <table style=" width:100%">
    <tr>
      <th style="color: black;">
        Product Name
      </th>
<th style="color: black;">
Product Price
</th>
<th style="color: black;">
Date Purchased
</th>
</tr>

    {%for Product in Products%}
  <tr>

      <td style="color: black;">
        {{Product.auction.product.product_name}}
      </td>

      <td style="color: black;">
        {{Product.winining_bid}}
      </td>

      <td style="color: black;">
        {{Product.auction.auction_date}}
      </td>

    </tr>

    {%endfor%}

  </table>

</div>
{%endblock%}
