{% extends "Base.html"%} {% block content %}
<div class="panel panel-success">
  <div class="panel-heading">My Portifolio</div>
  <div style ="display : inline-block">
<div class='panel panel-alert' style=" display : inline-grid">
    {% for auction in live_auctions%}
    <a href="{% url 'View_Auction' auction.auction.pk %}" class='list-group-item'>
        <h4 class="panel-heading">{{auction.auction.product.product_name}}</h4>
        <h4 class="list-group-item-heading">{{auction.auction.product.product_description}}</h4>
    </a>
    <a class="btn btn-default btn-primary" href="{% url 'View_Auction' auction.pk %}"> <span class=" glyphicon glyphicon-eye-open">  </span></a>
    {% endfor %}
</div>
<h2> Auctions </h2>
<div class='list-group'>

{%for auction in auctions%}
<a class='list-group-item'>

    <h4 class="list-group-item-heading">{{auction.product.product_name}}</h4>
    <h4 class="list-group-item-text">{{auction.product.product_description}}</h4>
    <img src="{{auction.product.picture.url}}"></img>

</a>
<a href="{% url 'Edit_Auction' auction.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-pencil'> </span></a>
{% endfor %}
</div>

{% if product.exist %}
<h2> Products </h2>
<div class='list-group'>

{%for product in products%}
<a href="{% url 'product_details' product.pk %}" class='list-group-item'>

    <h4 class="list-group-item-heading">{{product.product_name}}</h4>
    <h4 class="list-group-item-text">{{product.product_description}}</h4>
    <img src="{{product.picture.url}}"class = "img-circle"height="200px"width="242px"></img>

</a>
<a href="{% url 'product_details' product.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-eye-open'> </span></a>
<a href="{% url 'Edit_Product' product.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-pencil'> </span> </a>

<a href="{% url 'product_delete' product.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-remove'> </span> </a>
{% endfor %}
</div>
{% endif %}


</div>
{% endblock %}
