<!DOCTYPE html>
<html lang="en">
{%load staticfiles%}
<head>
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Auction</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block media %} {% endblock %}
</head>

<body background="{% static 'img/header.jpg' %}"id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="{%url 'home' %}">Online Auction Project</a>

            </div>
            <form action="/" method="post" class="form-inline">
                {% if user.is_authenticated %}
                <span class="glyphicon glyphicon-option-vertical" style="font-size:30px;cursor:pointer" onclick="openNav()"> </span>
                <div id="mySidenav" class="sidenav">
                    <a href="{% url 'My_Page' %}"><span class="glyphicon glyphicon-user"></span><b class="imgdescription">My Page </b></a>
                    <a href="{% url 'Upload_Picture' %}"> <span class="glyphicon glyphicon-floppy-open"></span> </span><b class="imgdescription"> Upload Picture  </b> </a>
                    <a href="{% url 'Create_Auction' %}"><span class="glyphicon glyphicon-scale"></span><b class="imgdescription">Add Auction </b></a>
                    <a href="{% url 'Create_LiveAuction' %}"><span class="glyphicon glyphicon-scale"></span><b class="imgdescription">Add Live Auction </b></a>

                    <a href="{% url 'Create_Product' %}"><span class="glyphicon glyphicon-plus-sign"></span><b class="imgdescription">Add Product </b></a>
                    <a href="{%url 'Edit_User' request.user.pk %}"> <span class="glyphicon glyphicon-wrench"></span><b class="imgdescription">Edit Profile</b></a>
                    <a href="{% url 'Message_List' %}"> <span class="glyphicon glyphicon-inbox"></span> </span><b class="imgdescription"> Inbox  </b> </a>
                    <a href="{% url 'Buyer_History' %}"> <span class="glyphicon glyphicon-transfer"></span> </span><b class="imgdescription"> Buying History  </b> </a>
                    <a href="{% url 'Seller_History' %}"> <span class="glyphicon glyphicon-transfer"></span> </span><b class="imgdescription"> Selling History  </b> </a>
                    <a href="{% url 'account_logout' %}"><span class='glyphicon glyphicon-off '></span><b class="imgdescription">Sign out </b></a>
                    <a href="{% url 'home'  %}"> <span class='glyphicon glyphicon-home'></span></span><b class="imgdescription">Home</b></a>
                </div>
                {% else %}
                <span class="glyphicon glyphicon-option-vertical" style="font-size:30px;cursor:pointer" onclick="openNav()"> </span>
                <div id="mySidenav" class="sidenav">
                    <li><a href="{% url 'account_login' %}"> Sign In </a></li>
                    <li><a href="{% url 'account_signup' %}"> Sign Up </a></li>
                </div>


                {%endif%}

                <div class="dropdown">
                    <button class="dropbtn">Category</button>
                    <div class="dropdown-content">
                        <a href="{% url 'car_filter' %}">Car</a>
                        <a href="{% url 'part_filter' %}">Parts</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Contact Us</button>
                    <div class="dropdown-content">
                        <a href="{% url 'Support' %}"> Support </a>

                    </div>
                </div>
                {% csrf_token %}
                <input type="text" class="form-control input-sm" placeholder="search input" name="term" size="30"> <button id="S-mark" type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span></button>

    </nav>
    </form>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <script>
    var open_sidenav = false;
        function openNav() {
          if(!open_sidenav){
            document.getElementById("mySidenav").style.width = "125px";
            open_sidenav= true;
}
else{
  document.getElementById("mySidenav").style.width = "0";
  open_sidenav= false;

}
        }


        $('#button').hover(
            function() {
                $(this).animate({
                    width: '70px',
                }, 1000)
                $('#button-text').animate({
                    width: '70px',
                }, 1000)
            },
            function() {
                $(this).animate({
                    width: '11px',
                }, 1000)
                $('#button-text').animate({
                    width: '0px',
                }, 1000)

            }
        );
    </script>





    <header>
        <div class="header-content">
            <div id="main" class="header-content-inner">

                <p>
                    {% block content %} {% endblock %}
                </p>
            </div>
        </div>
    </header>







    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->


    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>



</body>

</html>
