{% extends "Base.html"%} {% block content %}


{% if p_auction%}
<h2>Premium Auctions<h2>

<div class='list-group'>
  {% for a in p_auction %}

      <a class = 'list-group-item'>
          <h4 class="list-group-item-heading">{{a.auction.product.product_name}}</h4>
          <h4 class="list-group-item-heading">{{a.auction.product.product_description}}</h4>
  </a>
  <a  class="btn  btn-primary" href="{% url 'View_Auction' a.auction.pk %}">  <span class = " glyphicon glyphicon-eye-open">  </span></a>
  <a  class="btn  btn-primary" href="{% url 'Bid_Auction'  %}"><span class = 'glyphicon glyphicon-edit'>  </span></a>
  {% empty %}

  <h2>
      No  Premium Auctions
      </h2> {% endfor %}
</div>

{%else%}
<h2>
    No  Premium Auctions
    </h2> {%endif%}
<h2>Auctions Available</h2> {% if request.method == 'POST' %}
<div class='list-group'>
    {% for a in auction %}
    {%if a.auction_bidding_open %}

    <a href="{% url 'View_Auction' a.auction.pk %}" class='list-group-item'>
        <h4 class="list-group-item-heading">{{a.auction.product.product_name}}</h4>
        <h4 class="list-group-item-heading">{{a.auction.product.product_description}}</h4>

    </a>
    <a class="btn  btn-primary" href="{% url 'View_Auction' a.auction.pk %}"> <span class=" glyphicon glyphicon-eye-open">  </span></a>

    <a class="btn  btn-primary" href="{% url 'Bid_Auction'  %}"><span class = 'glyphicon glyphicon-edit'>  </span></a>
{% endif %}
{% empty %}
    <h2>
    no  Auctions
    </h2> {% endfor %}
</div>
{% if item_search%}
<h2>Products Available</h2>
<div class='list-group'>
    {% for p in item_search %}

    <a href="{% url 'product_details' p.pk %}" class='list-group-item'>

        <h4 class="list-group-item-heading">{{p.product_name}} : {{p.manufacture_year}}</h4>
        <h4 class="list-group-item-text">{{p.product_description}}</h4>
    </a>

    <a href="{% url 'product_details' p.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-eye-open'> </span></a>
    {%if p.owner == request.user %}
    <a href="{% url 'Edit_Product' p.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-pencil'> </span> </a>

    <a href="{% url 'product_delete' p.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-remove'> </span> </a>
    {%endif%} {% empty %}

    <h2>
no  product search found
</h2> {% endfor %}
</div>
{%endif%} {%else%} {%if auction%}
<div class='list-group'>

    {% for a in auction%}
    <a href="{% url 'View_Auction' a.auction.pk %}" class='list-group-item'>
        <h4 class="list-group-item-heading">{{a.auction.product.product_name}}</h4>
        <h4 class="list-group-item-heading">{{a.auction.product.product_description}}</h4>
    </a>
    <a id="button"class="btn  btn-primary" href="{% url 'View_Auction' a.auction.pk %}"> <span class=" glyphicon glyphicon-eye-open">  </span><a id="button-text"class="btn_description">View Auction</a></a>
    <a class="btn  btn-primary" href="{% url 'Bid_Auction'  %}"><span class = 'glyphicon glyphicon-edit'>  </span> </a> {% empty %}

    <h2>
    no  Auctions
    </h2> {% endfor %}
</div>
{%endif%}
{%if product%}
<h2>Products Available </h2>
<div class='list-group'>
    {% for p in product %}

    <a href="{% url 'product_details' p.pk %}" class='list-group-item'>

        <h4 class="list-group-item-heading">{{p.product_name}}</h4>
        <h4 class="list-group-item-text">{{p.product_description}}</h4>
        {%if p.picture%}
        <img src="{{p.picture.url}}" height="300px" width="450px"></img>
        {%endif%}
    </a>
    <a href="{% url 'product_details' p.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-eye-open'> </span></a>
    {%if p.owner == request.user %}
    <a href="{% url 'Edit_Product' p.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-pencil'> </span> </a>

    <a href="{% url 'product_delete' p.pk %}" class='btn btn-primary'> <span class='glyphicon glyphicon-remove'> </span> </a>

    {%endif%} {% endfor %} {%endif%}

</div>{%endif%}
{% if product.has_other_pages %}
<ul class="pagination">
  {% if product.has_previous %}
    <li><a href="?page={{ product.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in product.paginator.page_range %}
    {% if product.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if product.has_next %}
    <li><a href="?page={{ product.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}
