{% extends "Base.html"%} {% block content %}

{% if p_auction%}
<h2>Premium Auctions<h2>

<div class='list-group' >
  {% for a in p_auction %}

      <a class = 'list-group-item' href="{% url 'View_Auction' a.auction.pk  %}">
          <h4 class="list-group-item-heading">{{a.auction.product.product_name}}</h4>
  </a>
  {% empty %}

  <h2>
      No  Premium Auctions
      </h2> {% endfor %}
</div>

{%else%}
<h2>
    No  Premium Auctions
    </h2> {%endif%}
{% if request.method == 'POST' %}
<div class='list-group' >
  <h2>
       Auctions
      </h2>
    {% for a in auction %}
    {%if a.auction_bidding_open %}

    <a href="{% url 'View_Auction' a.auction.pk %}" class='list-group-item'>
        <h4 class="list-group-item-heading">{{a.auction.product.product_name}}</h4>

    </a>
{% endif %}
{% empty %}
    <h2>
    No  Auctions
    </h2> {% endfor %}
</div>
{% if item_search%}
<h2>Products Available</h2>
<div class='list-group' >
    {% for p in item_search %}

    <a href="{% url 'product_details' p.pk %}" class='list-group-item'>

        <h4 class="list-group-item-heading">{{p.product_name}} : {{p.manufacture_year}}</h4>
    </a>

{% empty %}

    <h2>
No  product search found
</h2> {% endfor %}
</div>
{%endif%} {%else%}
<div class='list-group' >

    {% for a in auction%}
    {%if a.auction_bidding_open%}
    <a href="{% url 'View_Auction' a.auction.pk %}" class='list-group-item'>
        <h4 class="list-group-item-heading">{{a.auction.product.product_name}}</h4>
    </a>

    {%else%}

  {%endif%}
  {%empty %}
  <h2>
      No  Freemium Auctions
      </h2>
 {% endfor %}
</div>
{%if product%}
<h2>Products Available </h2>
<div class='list-group' >
    {% for p in product %}

    <a href="{% url 'product_details' p.pk %}" class='list-group-item'>

        <h4 class="list-group-item-heading">{{p.product_name}}</h4>
        <img src="{{p.picture.url}}" width="180" height="150"></img>

    </a>
 {% endfor %} {%endif%}

</div>{%endif%}
{% if product.has_other_pages %}
<ul class="pagination">
  {% if product.has_previous %}
    <li><a href="?page={{ product.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in product.paginator.page_range %}
    {% if product.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if product.has_next %}
    <li><a href="?page={{ product.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}
