{% extends "Base.html"%}
{% block content %}
<!---{% if bids.Bidder == request.user %}
<form method="post" action="{% url 'Update_Bid_Auction' live_auction.pk %}">
    {% csrf_token %} {{ form.as_table }}
    <input class="btn btn-default btn-primary" type="submit" value="Done!">
</form>
{%for b in bids%}
<div class="list-group">
    <a class="list-group-item">
        <h4 class="list-group-item-heading">{{b.Bidder.username}}</h4>
        <p class="list-group-item-text">{{b.User_bid}}</p>
    </a>
</div>
{%endfor%}
{%else%}--->

<form method="post" action="{% url 'Bid_Auction' live_auction.pk %}">
    {% csrf_token %} {{ form.as_table }}
    <input class="btn btn-default btn-primary" type="submit" value="Done!">
</form>

{% endif %}

{% endblock %}
