{% extends "Base.html"%}
{% block content %}
<script>
var Validated= false;
var valu = {{bids.User_bid}}
function validate(){
  document.getElementsByName('id_User_bid').input >valu;

}
</script>
<form method="post" action="{% url 'Bid_Auction' live_auction.pk %}">
    {% csrf_token %}
    <tr>
      <th>
        <label for="id_User_bid">User bid:</label>
      </th>
      <td>
        <input id="id_User_bid" name="User_bid" type="number" required  oninput=""="validate()" /><br/>
    </td>
    </tr>
    <input class="btn btn-default btn-primary" type="submit" value="Done!">
</form>

{% endblock %}
