{% extends "Base.html"%} {% block content %}<h1> Welcome to the online Auction </h1>
<form action="/" method="post">
  {% csrf_token %}
<input type="text" name="term" size="30"> <input type="submit" value="Search Items">
<span class="caret"></span>
</form>
{% if request.method == 'POST' %}

{% for p in item_search %}
<div class="list-group">
    <a class="list-group-item">
     <h4 class="list-group-item-heading">{{p.product_name}} : {{p.manufacture_year}}</h4>
    <p class="list-group-item-text">{{p.product_description}}</p>
  </a>
</div>
{% empty %}

<h2>
no  items search found
</h2>
{% endfor %}


{%else%}
{% for a in auction%}
<div class="list-group">
  <a href="{% url 'View_Auction' a.auction.pk %}" class="list-group-item">
    <h4 class="list-group-item-heading">{{a.auction.product.product_name}}</h4>
    <p class="list-group-item-text">{{a.auction.product.product_description}}</p>
    <a class="btn btn-default btn-primary"  href="{% url 'Bid_Auction' a.pk %}"> Bid</a>

  </a>

</div>
{% endfor %}
<h4>Products Available </h4>
{% for p in product %}
<div class="list-group">
    <a class="list-group-item">
     <h4 class="list-group-item-heading">{{p.product_name}}</h4>
    <p class="list-group-item-text">{{p.product_description}}</p>
  </a>
</div>
{% endfor %}
{%endif%}
{% endblock %}
